@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merienda:wght@300..900&family=Shadows+Into+Light&display=swap');

:root{
    --cor1: #3A405A;
    --cor2: #AEC5EB;
    --cor3: #F9DEC9;
    --cor4: #E9AFA3;
    --cor5: #685044;
    --cor6: #7EA16B;
}
body{
background-image: linear-gradient(45deg, #F9DEC9, #E9AFA3);
background-image: url(imagens/fundo.jpg);
background-size: cover;
}
header{
    text-align: center;
    background-color: #e9afa3a8;
    margin: auto;
    min-width: 250px;
    max-width: 700px;
    padding-bottom: 5px;
}
main{
    background-color: #7ea16b9d;
    margin: auto;
    min-width: 250px;
    max-width: 700px;
    padding-bottom: 50px;
    
}
h1{
    color: var(--cor1);
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
h2{
    color: var(--cor1);
    text-align: center;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
h4{
    color: var(--cor2);
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
p{
    text-align: center;
    color: var(--cor5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    font-family: "Indie Flower", cursive;
    font-style: normal;
    font-size: 20px;
}
.titulo {
    color: var(--cor5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    font-family: "Indie Flower", cursive;
    font-style: normal;
    font-size: 20px;
}
.formulario {
    text-align: center;
    margin-bottom: 5px;
    line-height: 2em;
}
.listaCentro {
    place-items: center;
    list-style-position: inside; 
    text-align: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    color: var(--cor5);
    font-family: "Indie Flower", cursive;
    font-style: normal;
    font-size: 18px;
    column-count: 2;
    display: flex;
    flex-wrap: wrap;
}
.botaoTinta {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--cor5);
    margin: auto;
    background-color: var(--cor2);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.164);
    width: 150px;
    height: 60px;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    line-height: 1.5em;
    margin-bottom: 5px;
}

.entradaDados{
    color: var(--cor5);
    background-color: var(--cor3);
    border-style: dashed;

}
.saidaDados{
    color: var(--cor5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    margin: auto;
    background-color: #f9dec9bb;
    width: 400px;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    text-align: center;
    min-height: 50px;
    height: auto;
    border-radius: 5px;
}
.botão{
    color: var(--cor5);
    margin: auto;
    background-color: var(--cor2);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.164);
    width: 100px;
    height: 40px;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
#resultado{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
#botão{
    display: block;
    margin: auto;
}
.atenção{
    margin: auto;
    font-size: 15px;
    width: 350px;
    color: red;
}
#dv1{
    color: var(--cor5);
    margin: auto;
    background-color: var(--cor2);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.164);
    width: 100px;
    height: 40px;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    line-height: 2em;
}
#dv1:hover{
    background-color: var(--cor5);
}
#dv1:active{
    background-color: #3A405A;
}

.aoClicar {
    position: relative;
    text-align: center;
    color: var(--cor5);
    margin: auto;
    background-color: var(--cor2);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.164);
    width: 100px;
    height: 40px;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    line-height: 2em;
}
.aoClicar:hover{
    background-color: var(--cor5);
}
.aoClicar::after {
    content: "Clique Aqui!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
}
.aoClicar:hover::after {
    opacity: 1;
}



footer{
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-style: normal;
}